<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
    <title>Vlink Transport</title>
  </head>
  <body>
    <div class="nav-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Vlink Transport</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item mx-4">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link active" aria-current="page" href="/about">About Us</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" aria-current="page" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" aria-current="page" href="/driverlogin">Login as Driver</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" aria-current="page" href="/industrylogin">Login as Industry</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container welcome">
      <h1 class="headline text-center">About Us</h1>
      <hr />
      <div class="welcome-div">
        <h2>Welcome to Vlink Transport</h2>

        <hr />
        <h3 class="my-3">Who we are</h3>
        <p>
          VLink Transport is one of the leading players in the transportation industry that connects
          transporters, truck-drivers, customers and other related entities across India with the
          objective of making the material transportation simpler, quicker and efficient by
          providing better vehicle at affordable rates. We help all people associated with the
          community achieve better profitability in their own business. We follow best practices and
          business ethics for the benefit of transporter and customer community.
        </p>
        <h3 class="my-3">What We Do?</h3>
        <p>
          We help movement of the vehicle and material efficiently from one place to another at the
          quickest time possible by using technology.
        </p>

        <h3 class="my-3">How Do We Do?</h3>
        <p>
          We, first, request the first-time users to register in our portal, and then provide
          transport related information to the registered users about the availability of the load
          and the vehicles in the city. Once the registrations are complete, we verify them for
          accuracy, list them in our portal, and then route the requirements to the appropriate
          registered parties through our fully operational call center. During this process, we
          provide end-to-end support to the users. This effort ensures better utilization of the
          vehicle capacity and its effectiveness
        </p>
      </div>
      <hr />

      <h2 class="my-3">Team Purpose</h2>

      <hr />
      <p>
        We at VLink Transport are committed to our self, Customers, Employees and Partners to
        provide best in class transportation solutions. Vlink Transport enables transporters and
        customers to meet their business objectives effectively. We aim at achieving highest
        standards of work for our customers. Our commitment to excellence will help the
        transportation industries and customers achieve financial growth and prosperity. To know
        more about us, please contact us and our representative will assist you shortly.
      </p>
    </div>

    <div class="container welcome-div">
      <hr />
      <h1 class="headline text-center">Terms of Service</h1>

      <p class="my-2 text-center">
        Before using Vlink Transport , We request you to read the terms and conditions of the
        agreement below. By using the website, you are implying that you agree with all the policies
        of Vlink Transport Once you become a member of Vlink Transport , you will automatically
        enter into a contract and acknowledge that you have read and accepted the agreement, which
        will apply to your use of our website. Vlink Transport Once you become a member of Vlink
        Transport, you will automatically enter a contract and acknowledge that you have read and
        accepted the agreement, which will apply to your use of our website. The agreement between
        the user and this website is subject to change anytime without prior notice. We may modify
        or change the terms and conditions and the new agreement shall be in effect as soon as it is
        updated on the website. We recommend you to read the document carefully every time you use
        the website. If you do not agree with the contract, you may not access or use the website.
        Vlink Transport provides a platform for its users to meet and coordinate for business needs.
        We do not participate in the actual coordination that takes place between the two parties.
        Hence, Vlink Transport is not responsible for any dispute or fall out that may occur between
        two parties at any point of time.
      </p>

      <hr />

      <h1 class="headline text-center">Disclaimer and Warranties</h1>
      <p class="my-1 text-center">
        Neither we nor any third party provide any warranty or guarantee to the accuracy,
        timeliness, performance, completeness or suitability of the information and materials found
        or offered in this website for any particular purpose. You acknowledge that such information
        and material(s) may contain inaccuracies or errors and we expressly exclude liability for
        any such inaccuracies or errors to the fullest extent permitted by law. Vlink Transport
        accepts no responsibility for checking and verifying the accuracy of reports or data files
        submitted by the Visitors. Customers, who are buying or renting property or properties
        through Vlink Transport , must verify details the property or properties as well as its
        right, title, ownership, lien etc. on their own. Your use of any information or materials on
        this website is entirely at your own risk. It shall be your own responsibility to ensure
        that any products, services or information available through this website meet your specific
        requirements. Vlink Transport is not involved in any transaction between any parties who are
        using our website. There are risks, which the Visitor/Customer assumes when dealing with
        people and the same shall be borne by the Visitor/Customer. The website is a platform only
        and do not screen or/and censor or/and otherwise control the postings offered to other
        Visitors, nor does Vlink Transport screen or/and censor or/and otherwise control the
        Visitors of its service. Vlink Transport cannot and does not control the behavior of the
        participants on this site.
      </p>
      <br />
      <p class="my-1 text-center">
        It is extremely important that the user takes care throughout his dealings with other
        people, users on this site. Vlink Transport does not accept or/and assume responsibility for
        the content or/and context of the visitor comment. The Visitor/Customer understands and
        agrees that any information or/and material and/or goods or/and services obtained through
        this website is done at Visitor's/Customer’s own discretion and risk and that
        Visitor/Customer shall be solely responsible for any damage/s or/and cost or/and any other
        consequence/s resulting from any transaction. No advice or information, oral or/and written,
        obtained by the Visitors/Customers from Vlink Transport or/and through or/and from the
        service shall be construed as recommendations and shall create any warranty not expressly
        stated herein. We, as a merchant, shall be under no liability whatsoever in respect of any
        loss or damage arising directly or indirectly out of the decline of authorization for any
        Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed
        upon by us with our acquiring bank from time to time".
      </p>
      <br />
      <p class="my-1 text-center">
        TO THE FULLEST EXTENT POSSIBLE BY LAW, IN NO EVENT SHALL Vlink Transport, ITS SUPPLIERS, OR
        ANY THIRD PARTIES MENTIONED ON Vlink Transport BE LIABLE FOR ANY DAMAGES WHATSOEVER
        (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR
        DAMAGES RESULTING FROM LOST DATA, LOST EMPLOYMENT OPPORTUNITY OR BUSINESS INTERRUPTION)
        RESULTING FROM THE USE OR INABILITY TO USE ANY Vlink Transport AND THE Vlink Transport
        CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER
        OR NOT Vlink Transport IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      </p>
    </div>
    <br />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
