<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
    <title>Vlink Transport</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vlink Transport</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/industryprofile">Your Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/pastbookings">Past Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/driverlogin">Login as Driver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout">Log-Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />

    <div class="container">
      <form action="/search" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">From</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Address"
            name="fromAddress"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">To</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Address"
            name="toAddress"
          />
        </div>

        <div class="mb-3">
          <label for="material" class="form-label">Material</label>
          <select
            name="material"
            class="form-select"
            aria-label="Default select example"
            id="material"
          >
            <option selected>Open this select menu</option>
            <option value="Auto Parts">Auto Parts</option>
            <option value="Bardana jute or plastic">Bardana jute or plastic</option>
            <option value="Building Materials">Building Materials</option>
            <option value="Cement">Cement</option>
            <option value="Chemicals">Chemicals</option>
            <option value="Coal And Ash">Coal And Ash</option>
            <option value="Container">Container</option>
            <option value="Cotton seed">Cotton seed</option>
            <option value="Electronics Consumer Durables">Electronics Consumer Durables</option>
            <option value="Fruits And Vegetables">Fruits And Vegetables</option>
            <option value="Furniture And Wood Products">Furniture And Wood Products</option>
            <option value="House Hold Goods">House Hold Goods</option>
            <option value="Industrial Equipments">Industrial Equipments</option>
            <option value="Scrap">Scrap</option>
            <option value="Liquids/Oil">Liquids/Oil</option>
            <option value="Rice or wheat or Agriculture Products">
              Rice or wheat or Agriculture Products
            </option>
            <option value="Iron sheets or bars or scraps">Iron sheets or bars or scraps</option>
            <option value="Fertilizers">Fertilizers</option>
            <option value="Textiles">Textiles</option>
            <option value="Tyres And Rubber Products">Tyres And Rubber Products</option>
            <option value="Others">Others</option>
            <option value="Printed books or Paper rolls">Printed books or Paper rolls</option>
            <option value="Plastic Pipes or other products">Plastic Pipes or other products</option>
            <option value="Liquids in drums">Liquids in drums</option>
            <option value="Medicals">Medicals</option>
            <option value="Machinery new or old">Machinery new or old</option>
            <option value="Mill Jute Oil">Mill Jute Oil</option>
            <option value="Powder bags">Powder bags</option>
            <option value="Packed Food">Packed Food</option>
            <option value="Spices">Spices</option>
            <option value="Vehicles or car">Vehicles or car</option>
            <option value="Refrigerated Goods">Refrigerated Goods</option>
            <option value="Metals">Metals</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="weight" class="form-label">Weight (in MT)</label>
          <select class="form-select" name="weight" aria-label="Default select example" id="weight">
            <option selected>Select</option>
            <option value="Above 30 MT">Above 30 MT</option>
            <option value="Do Not Know">Do Not Know</option>
            <option value="Upto 12 MT">Upto 12 MT</option>
            <option value="Upto 15 MT">Upto 15 MT</option>
            <option value="Upto 20 MT">Upto 20 MT</option>
            <option value="Upto 25 MT">Upto 25 MT</option>
            <option value="Upto 28 MT">Upto 28 MT</option>
            <option value="Upto 5 MT">Upto 5 MT</option>
            <option value="Upto 7 MT">Upto 7 MT</option>
            <option value="Upto 9 MT">Upto 9 MT</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="noOfTrucks" class="form-label">No. of Trucks</label>
          <select id="noOfTrucks" name="trucks" class="form-control">
            <option selected value="0">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">Not Decided</option>
          </select>
        </div>

        <h3>Pick Date</h3>
        <div class="ui calendar" id="example2">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date" name="date" />
          </div>
        </div>
        <br />

        <button class="btn btn-dark" type="submit">Search Trucks</button>
      </form>

      <hr />

      <a href="/industryverify" class="btn btn-dark">Apply for Verification</a>
    </div>

    <!-- JavaScript Bundle with Popper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <script src="index.js"></script>
  </body>
</html>
